@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* CSS for scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  border-radius:10px;
  background: rgba(51, 51, 51, 0); /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333333; /* Color of the scrollbar handle */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333333; /* Color of the scrollbar handle on hover */
}
